.waterfallContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 8px 8px 0 0;
}

.waterfallCanvas {
    display: block;
    width: 100%;
}

.fxCanvas {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
